*{
  box-sizing: border-box;
}

html, body{
  height: 100%  /*to make footer in bottom*/
}

.page{
  min-height: 100vh;  /*to make footer in bottom*/
}

footer{
  text-align: center;
  margin-top: auto; /*to make footer in bottom*/
  background-color: black;
  color: white;
  min-height: 50px;
}

.navBar{
  background-color: black;
  color: white;
}

.navLink{
  text-decoration: none;
  color: white;
}

.card{
  transition: 0.2s;
}
.card:hover{
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cardHeaderSale{
  text-transform: uppercase;
  background: linear-gradient(to right, red, white);
  color: white/*not working*/;
}
.cardHeaderNewProduct{
  text-transform: uppercase;
  background: linear-gradient(to right, blue, white);
  color: white/*not working*/
}