*{
  box-sizing: border-box;
}

html, body{
  height: 100%  /*to make footer in bottom*/
}

.page{
  min-height: 100vh;  /*to make footer in bottom*/
}

footer{
  text-align: center;
  margin-top: auto; /*to make footer in bottom*/
  background-color: black;
  color: white;
  min-height: 50px;
}

.navBar{
  background-color: black;
  color: white;
}

.navLink{
  text-decoration: none;
  color: white;
}